.test{
    background-color: black;
}

.full-screen-div {
  height: 100vh; /* Full height */
}

.img-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height:100vh;
    background-image: url("../src/assets/_MG_6136.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 0;
}

.title-container{
background-color: rgba(0, 0, 0, 0.507);
margin-top: 80%;
}

h1, h3, p, h4, h5, h6{
color: white;
}


.custom-img {
    width: 500px; /* Tama単o deseado para el ancho */
    height: 400px; /* Tama単o deseado para la altura */
    object-fit: cover;
  }

  .container-img{
    width: 500px; /* Tama単o deseado para el ancho */
    height: 400px; /* Tama単o deseado para la altura */

  }



